JavaClient/src/META-INF/wsdl/localhost_55277/Service.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Calculate"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="a" type="xs:int"/><xs:element minOccurs="0" name="b" type="xs:int"/><xs:element minOccurs="0" name="operation" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="CalculateResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="CalculateResult" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>